<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	{% if site.lang == "en" %}
	<a href="{{ "" | absolute_url }}" class="logo"><strong>{% translate global.title %}</strong> <span>{% translate global.subtitle %}</span></a>
	{% else %}
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{% translate global.title %}</strong> <span>{% translate global.subtitle %}</span></a>
	{% endif %}
	<nav>
		<a href="#menu">{% translate global.menu %}</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
			{% if page.layout == "home" %}
				{% if site.lang == "en" %}
		        <li><a href="{{ "" | absolute_url }}">{% translate global.title %}</a></li>
				{% else %}
				<li><a href="{{ "" | absolute_url }}/">{% translate global.title %}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
		{% for page in site.pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>
</nav>
